# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.python-version
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
.eggs/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
